[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Firefox {{ firefox_branch }}
Comment=An Ansible-provisioned version of Firefox, downloaded straight from Mozilla's servers.
Exec=/home/{{ user }}/.local/firefox/firefox
Icon=application.png
Terminal=false