[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Kitty Terminal emulator
Comment=An Ansible-provisioned version of Kitty, downloaded straight from Github's releases.
Exec={{ kitty_dir }}/bin/kitty --config /home/{{ user }}/.config/kitty.conf
Icon=application.png
Terminal=false